* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font_family;
}

.mycontainer{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
