header{
    background-color: $color_header;
    color: $first_color;
}

.header-top{
    display: none;
}

.header-bottom{
    @include flex-row(flex-start,center);
    height: 50px;

    .hambuger{
        display: block;
        margin-left: $big_spacing;

        i{
            font-size: 20px;
            cursor: pointer;
        }

    }

    .logo{
        width: 90px;
        height: 25px;
        margin: $big_spacing auto;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .nav-menu{
        display: none;
    }
}


@media screen and (min-width: 992px){


    .header-top{
        font-size: $font-size_header;
        @include flex-row(flex-end,center);
        height: 40px;

        i{
            color: $click_color;
            margin-left: $big_spacing;
        }

        a{
            color: $second_color;
            margin-left: 6px;

            &:hover{
                color:$first_color;
            }
        }

        select{
            color: $color_select;
            outline: 0;
            margin-left: $big_spacing;
        }
    }

    .header-bottom{
        @include flex-row(space-between,center);
        height: 50px;

        .hambuger{
            display: none;
        }

        .logo{
            margin-bottom: 25px;
            margin: 0;
        }

        .nav-menu{
            display: block;

            ul{
                list-style-type: none;

                li{
                    display: inline-block;
                    margin-left: $small_spacing * 2;
                    font-size: 14px;
                    cursor: pointer;
                    padding: 4px;

                    &:hover{
                        background-color: #f1f1f1;
                        color: $color_select;
                    }

                    i{
                        font-size: 9px;
                        color: $second_color;
                    }
                }
            }
        }

    }

}
