// general
$first_color: #fff;
$second_color: #9d9d9d;
$click_color: #009cff;
$small_spacing: 10px;
$big_spacing: 20px;
$font_family: 'Lato', sans-serif;

// header
$color_header: #101010;
$color_select: #101010;
$font-size_header: 12px;
